<% provide :title, "Vans" %>

<table class="table">
  <tr>
    <td><b>Designation</b></td>
    <td><b>Capacity</b></td>
  </tr>
  <% @vans.each do |van| %>
    <tr>
      <td><%= van.designation %></td>
      <td><%= van.capacity %></td>
    </tr>
  <% end %>
</table>

