<% provide :title, "Trips" %>

<table class="table">
  <tr>
    <td><b>Route ID</b></td>
    <td><b>Driver ID</b></td>
    <td><b>Bus ID</b></td>
    <td><b>Departure</b></td>    
  </tr>
  <% @trips.each do |trip| %>
    <tr>
      <td><%= trip.route_id %></td>
      <td><%= trip.driver_id %></td>
      <td><%= trip.bus_id %></td>
      <td><%= trip.departure %></td>      
    </tr>
  <% end %>
</table>

