<% provide :title, "Trips" %>

<table class="table">
  <tr>
    <td><b>Route ID</b></td>
    <td><b>Driver ID</b></td>
    <td><b>Van ID</b></td>
    <td><b>Departure</b></td>    
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= trip.route_id %></td>
      <td><%= trip.driver_id %></td>
      <td><%= trip.van_id %></td>
      <td><%= trip.departure %></td>      
    </tr>
  <% end %>
</table>

