<% provide :title, "Users" %>

<table class="table">
  <tr>
    <td><b>Trip ID</b></td>
    <td><b>Passenger ID</b></td>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= trip.id %></td>
      <td><%= rider.id %></td>
    </tr>
  <% end %>
</table>

