<% provide :title, "Routes" %>

<table class="table">
  <tr>
    <td><b>Route Number</b></td>
    <td><b>Origin</b></td>
    <td><b>Destination</b></td>
    <td><b>Path</b></td>    
  </tr>
  <% @routes.each do |route| %>
    <tr>
      <td><%= route.number %></td>
      <td><%= route.origin %></td>
      <td><%= route.destination %></td>
      <td><%= route.path %></td>      
    </tr>
  <% end %>
</table>
